
.canvas-container {
    display: grid;
    border: 0;
    margin: 0;
    grid-template-columns: repeat(50,10px);
}

.canvas-container > div {
    background-color: azure;  
    height: 10px;  
}

.canvas-container > div:hover {
    background-color: red;
}

/* div {
    width: 10px;
    height: 10px;
} */