h1 {
    text-align: center;
}

.header {
    font-size: 80px;
    margin:0;
    user-select: none;
}

body {
    background-color:#082032;
    color: white;
    font-family: 'Permanent Marker', cursive;
    
}

.canvas-container {
    border: 0;
    margin: 0;
    display: grid;
    overflow: hidden;
    border: black solid 1px;
    width: 500px;
    height: 500px;
    /* grid-template-columns: repeat(16, auto); */
}

.canvas-container div {
    background-color:rgb(238, 238, 238); 
    flex: 1 1 10px;  
}

/* .canvas-container div:hover {
    background-color: red;
} */

.main-content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 50px
}

#resolution {
    width: min-content;
}

.res-setting {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5px;
}
.settings {
    background-color:#2C394B;
    width: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    user-select: none;
}

.button {
    background-color:#082032;
    border-radius: 10px;
    width: 200px;
    text-align: center;
    padding: 10px;
    border: 1px solid black;
    transition: ease 100ms;
}

.button:hover {
    transform: scale(1.2);
}

